.about-me {
    color: #333;
    background-color: #fff;
    padding: 50px 20px; 
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 20px; 
    padding-bottom: 10px; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.content {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 90%; 
    height: 70vh; 
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.contact-info {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin-top: 100px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info div {
    flex: 1 0 auto;
    margin: 10px; /* adjust as needed */
}

.contact-info div h3 {
    margin-bottom: 10px;
    font-size: small;
}

.text {
    width: 45%;
    font-size: 1.2rem;
}

.text .bold {
    font-weight: bold;
}

.image-container {
    width: 45%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.image-container img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    
}

/* .button1 {
    background-image: url('path-to-your-image1.jpg');
    background-size: cover;
    background-position: center;
}

.button2 {
    background-image: url('path-to-your-image2.jpg');
    background-size: cover;
    background-position: center;
}

.button3 {
    background-image: url('path-to-your-image3.jpg');
    background-size: cover;
    background-position: center;
}

.button4 {
    background-image: url('path-to-your-image4.jpg');
    background-size: cover;
    background-position: center;
}

.button5 {
    background-image: url('path-to-your-image5.jpg');
    background-size: cover;
    background-position: center;
} */