.education {
    /* text-align: center; */
}

.heading {
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.5); */
}

.uni{
    /* padding: 10px; */
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}
.education-item {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /* padding: 20px; */
    margin-bottom: 20px;
}

.education-item h3, .education-item p {
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.5); */
    padding-bottom: 10px;
}

.education-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
}

.education-item {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    max-width: 20%;
    flex: 1;
}

.line {
    display: flex;
    align-items: center;
}

.circle {
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 50%;
    margin-right: 10px;
}

.line-content {
    flex-grow: 1;
    height: 1px;
    background: #000;
}