.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 50px;
}


.experience-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.experience-info {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    width: 100%;
    margin-bottom: 20px;
}

.experience-item {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.experience-info, .experience-details {
    width: 45%;
    text-align: left;
}