/* Profile.css */

.profile {
    padding: 30vh;
    position: relative;
    text-align: center;
    padding: 50px;
    height: 100vh;
    font-family: Arial, sans-serif;
    
    background-image: url("../assets/images/wavy-black-white-background.jpg");
    background-size: cover;
}

.profile-text {
    position: absolute;
    top: 50%;
    transform: translateY(20%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.profile > * {
    position: relative;
    z-index: 2;
}
.profile h2 {
    font-size: 3.5em;
    color: #b3b3b3;
}

.profile button {
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #3f3f3f6c;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 9px;
    cursor: pointer;
}

.cursor {
    padding: auto;
    display: inline-block;;
    background-color: currentColor;
    animation: cursor-blink 1s infinite;
}

@keyframes cursor-blink {
    0%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }
}